extends layout

block content
  h3.muted Stats

  table.table.table-striped(style="width: 100%;")
    thead
      tr
        th Day
        for eventName in events
          th.text-center= eventName
    tbody
      for ts in Object.keys(stats).sort()
        tr
          td= moment(ts * 1000).format("YYYY-MM-DD")
          for eventName in events
            td.text-center= stats[ts][eventName] || 0

  p (Ends)
